Home.css

  /* Home.css */
.home-container {
  background-image:(url)'/homeField.png' ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(66, 12, 158);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

  
  .home-title {
    font-size: 2rem;
    color: #333;
  }
  
.photo-box {
  text-align: center;
}

.caption {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}



.team-photo-section {
  text-align: center;
  margin: 40px 0;
}

.team-photo {
  width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.team-photo:hover {
  transform: scale(1.05);
}

