/* Home.css */
.home-container {
    padding: 20px;
    background-color: #d3c9c9;
    text-align: center;
    height: 100vh;
  }
  
  .home-title {
    font-size: 2rem;
    color: #333;
  }
  
.photo-box {
  text-align: center;
}

.caption {
  margin-top: 10px;
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
}



.team-photo-section {
  text-align: center;
  margin: 40px 0;
}

.team-photo {
  width: 400px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.team-photo:hover {
  transform: scale(1.05);
}

